@inherits UserConfirmDetailsCode
@layout UserConfirmDetailsLayout
@page "/users/confirm"


<div class="container unified_container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="image-center">
                        <img src="img/welcome.png" alt="welcome" class="login-logo">
                    </div>
                    <div aria-label="Please provide additional details to login">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
